@font-face {
	font-family: 'ProximaNovaRegular';
	src: local('ProximaNovaRegular'), url('./ProximaNovaRegular.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_58703">Text with this font applied</p> */
.fontsforweb_fontid_58703 {
	font-family: 'ProximaNovaRegular' !important;
}

/* Font downloaded from FontsForWeb.com */